body {
    /* background-color: #000000; */
    /* background-image: url('../images/forest.jpg'); */
    background-size: cover;
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 2em;
}

h1 {
    font-family: 'Cabin Sketch', 'Berkshire Swash', cursive;
    font-size: 8vw;
}

h2 {
    font-family: 'Cabin Sketch', 'Lato', serif;
    font-size: 2em;
}

input[type=radio] {
    margin: 5px;
}

#gifContent {
    border: 0;
}

.boxes {
    text-align: center;
    /* background-color: #3c715e; */
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
}

#finishedButton,
#startButton {
    background-color: rgba(115, 173, 33, 0.5);
    padding: 10px;
    border-radius: 15px;
    /* border: 2px solid #ffffff; */
    margin-top: 25px;
}

#time {
    background-color: rgba(115, 173, 33, 0.5);
    padding: 5px;
    border-radius: 10px;
    /* border: 2px solid #ffffff; */
}

#time h2 {
    margin: 0px;
    font-size: 1.5em;
}

#results {
    background-color: rgba(115, 173, 33, 0.5);
    padding: 5px;
    border-radius: 15px;
}

.gifCard {
    width: 350px;
    margin: 10px;
    float: left;
}