body {
    background-color: #000000;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

h1 {
    font-family: 'Sancreek', serif;
    font-size: 8vw;
    color: #CFBE27;
}

p, label, button {
    font-family: 'Averia Sans Libre', 'Open Sans', serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #cccccc;
}

#search-input {
    width: 500px;
}

#gifContent {
    border: 0;
}

.boxes {
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.gif {
    border-radius: 10px;
    border: 2px solid #cccccc;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5px;
    font-family: 'Averia Sans Libre', serif;
    text-transform: uppercase;
    font-size: 1em;
}



.gifCard {
    /* width: 350px; */
    margin: 10px;
    float: left;
    
}